/* 

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: black;
}
.sun{

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15em;
  left: 15em;
  width: 10em;
  height: 10em;
  background-color: rgba(255, 255, 153, 1);
  border-radius: 50%;
  box-shadow: 0 0 3em rgb(225, 128, 0);
  animation: orbit 5s linear infinite;

}
.container{
  min-height: 40em;
  width: 40em;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 6px;

}

 .mercury, .venus,  .earth, .moon, .mars, .jupitar, .saturn, .uarnus, .neptune, .pluto {
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent;
  border-width: 0.1em 0.1em 0 0;
  border-radius: 50%;
}
.mercury{
  top: 12em;
  left: 12em;
  width: 15em;
  height: 15em;
  animation: orbit 68.7s linear infinite;

}
.venus{
  top: 10em;
  left: 10em;
  width: 20em;
  height: 20em;
  animation: orbit 48.5s linear infinite;

}
.earth{
  top: 6em;
  left: 6em;
  width: 28em;
  height: 28em;
  animation: orbit 36.5s linear infinite;
}

.moon{
  top: 0em;
  right: 0em;
  width: 7em;
  height: 7em;
  animation: orbit 2.5s linear infinite;

}
.mars{
  top: 2em;
  left: 2.5em;
  width: 36em;
  height: 36em;
  animation: orbit 26.5s linear infinite;

}
.jupitar{
  top: -2em;
  left: -2em;
  width: 45em;
  height: 45em;
  animation: orbit 21s linear infinite;

}

.saturn{
  top: -7em;
  left: -7em;
  width: 55em;
  height: 55em;
  animation: orbit 17s linear infinite;

}
.uarnus{
  top: -12em;
  left: -12em;
  width: 65em;
  height: 65em;
  animation: orbit 19s linear infinite;

}


.neptune{
  top: -17em;
  left: -17em;
  width: 75em;
  height: 75em;
  animation: orbit 15s linear infinite;

}
.pluto{
  top: -22em;
  left: -22em;
  width: 85em;
  height: 85em;
  animation: orbit 18s linear infinite;

}

 .mercury::before, .venus::before, .earth::before, .moon::before, .mars::before, .jupitar::before, .saturn::before, .uarnus::before, .neptune::before, .pluto::before{
  content: '';
  position: absolute;
  border-radius: 50%;
  animation: orbit 5s linear infinite;
}
.mercury::before{
  top: 1.8em;
  right: 0.8em;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(230, 230, 230);
}
.venus::before{
  top: 2em;
  right: 2em;
  width: 2em;
  height: 2em;
  background-color: rgb(255, 153, 51);
}

.earth::before{
  top: 2.8em;
  right: 2.8em;
  width: 3em;
  height: 3em;
  background-color: aqua;
}
.moon::before{
  top: 0.8em;
  right: 0.2em;
  width: 1.2em;
  height: 1.2em;
  background-color: rgb(200, 200, 200);

}
.mars::before{
  top: 5em;
  right: 3em;
  width: 3em;
  height: 3em;
  background-color: rgb(204, 51, 0);

}
.jupitar::before{
  top: 5em;
  right: 5em;
  width: 5em;
  height: 5em;
  background-color: rgba(237, 145, 33, 1);

}
.saturn::before{
  top: 7.5em;
  right: 5em;
  width: 4.5em;
  height: 4.5em;
  background-color: rgba(237, 201, 81, 1);

}
.uarnus::before{
  top: 9em;
  right: 6.5em;
  width: 4em;
  height: 4em;
  background-color: rgba(145, 214, 236, 1);

}
.neptune::before{
  top: 10em;
  right: 8em;
  width: 4em;
  height: 4em;
  background-color: rgba(30, 80, 220, 1);
}
.pluto::before{
  top: 11em;
  right: 10em;
  width: 4em;
  height: 4em;
  background-color: rgba(128, 128, 128, 1);

}

@keyframes orbit {
  to{
    transform: rotate(360deg);
  }
}


.start{
  margin: 0;
  position: absolute;

  background-color: white;
  border-radius: 50%;
  z-index: -1;
} */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: black;
}

.sun {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15em;
  left: 15em;
  width: 10em;
  height: 10em;
  background-color: rgba(255, 255, 153, 1);
  border-radius: 50%;
  box-shadow: 0 0 3em rgb(225, 128, 0);
  animation: orbit 5s linear infinite;
}

.container {
  min-height: 40em;
  width: 40em;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 6px;
}

.mercury, .venus, .earth, .moon, .mars, .jupitar, .saturn, .uarnus, .neptune, .pluto {
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent;
  border-width: 0.1em 0.1em 0 0;
  border-radius: 50%;
}

.mercury {
  top: 12em;
  left: 12em;
  width: 15em;
  height: 15em;
  animation: orbit 68.7s linear infinite;
}

.venus {
  top: 10em;
  left: 10em;
  width: 20em;
  height: 20em;
  animation: orbit 48.5s linear infinite;
}

.earth {
  top: 6em;
  left: 6em;
  width: 28em;
  height: 28em;
  animation: orbit 36.5s linear infinite;
}

.moon {
  top: 0em;
  right: 0em;
  width: 7em;
  height: 7em;
  animation: orbit 2.5s linear infinite;
}

.mars {
  top: 2em;
  left: 2.5em;
  width: 36em;
  height: 36em;
  animation: orbit 26.5s linear infinite;
}

.jupitar {
  top: -2em;
  left: -2em;
  width: 45em;
  height: 45em;
  animation: orbit 21s linear infinite;
}

.saturn {
  top: -7em;
  left: -7em;
  width: 55em;
  height: 55em;
  animation: orbit 17s linear infinite;
}

.uarnus {
  top: -12em;
  left: -12em;
  width: 65em;
  height: 65em;
  animation: orbit 19s linear infinite;
}

.neptune {
  top: -17em;
  left: -17em;
  width: 75em;
  height: 75em;
  animation: orbit 15s linear infinite;
}

.pluto {
  top: -22em;
  left: -22em;
  width: 85em;
  height: 85em;
  animation: orbit 18s linear infinite;
}

.mercury::before, .venus::before, .earth::before, .moon::before, .mars::before, .jupitar::before, .saturn::before, .uarnus::before, .neptune::before, .pluto::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  animation: orbit 5s linear infinite;
}

.mercury::before {
  top: 1.8em;
  right: 0.8em;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(230, 230, 230);
}

.venus::before {
  top: 2em;
  right: 2em;
  width: 2em;
  height: 2em;
  background-color: rgb(255, 153, 51);
}

.earth::before {
  top: 2.8em;
  right: 2.8em;
  width: 3em;
  height: 3em;
  background-color: aqua;
}

.moon::before {
  top: 0.8em;
  right: 0.2em;
  width: 1.2em;
  height: 1.2em;
  background-color: rgb(200, 200, 200);
}

.mars::before {
  top: 5em;
  right: 3em;
  width: 3em;
  height: 3em;
  background-color: rgb(204, 51, 0);
}

.jupitar::before {
  top: 5em;
  right: 5em;
  width: 5em;
  height: 5em;
  background-color: rgba(237, 145, 33, 1);
}

.saturn::before {
  top: 7.5em;
  right: 5em;
  width: 4.5em;
  height: 4.5em;
  background-color: rgba(237, 201, 81, 1);
}

.uarnus::before {
  top: 9em;
  right: 6.5em;
  width: 4em;
  height: 4em;
  background-color: rgba(145, 214, 236, 1);
}

.neptune::before {
  top: 10em;
  right: 8em;
  width: 4em;
  height: 4em;
  background-color: rgba(30, 80, 220, 1);
}

.pluto::before {
  top: 11em;
  right: 10em;
  width: 4em;
  height: 4em;
  background-color: rgba(128, 128, 128, 1);
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}

.start {
  margin: 0;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 768px) {
  /* .container {
    min-height: 30em;
    width: 30em;
    font-size: 3px;
  }
  .sun{
    font-size: 5px;
  }
  
  .mercury, .venus, .earth, .moon, .mars, .jupitar, .saturn, .uarnus, .neptune, .pluto {
    width: 100%;
    height: 100%;
  } */
  
  /* .mercury::before, .venus::before, .earth::before, .moon::before, .mars::before, .jupitar::before, .saturn::before, .uarnus::before, .neptune::before, .pluto::before {
    animation: orbit 5s linear infinite;

    width: 5em;
    height: 5em;
    content: '';
    position: absolute;
    border-radius: 50%;
  }
  .mercury::before {
    top: 1em;
    right: 0.5em;
    width: 1.5em;
    height: 1.5em;
    background-color: rgb(230, 230, 230);
  } */


  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
  }
  
  .sun {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: rgba(255, 255, 153, 1);
    border-radius: 50%;
    box-shadow: 0 0 3em rgb(225, 128, 0);
    animation: orbit 5s linear infinite;
  }
  
  .container {
    min-height: 30em;
    width: 30em;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 3px;
  }
  
  .mercury, .venus, .earth, .moon, .mars, .jupitar, .saturn, .uarnus, .neptune, .pluto {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-color: white transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .mercury {
    top: 12em;
    left: 12em;
    width: 15em;
    height: 15em;
    animation: orbit 68.7s linear infinite;
  }
  
  .venus {
    top: 10em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: orbit 48.5s linear infinite;
  }
  
  .earth {
    top: 6em;
    left: 6em;
    width: 28em;
    height: 28em;
    animation: orbit 36.5s linear infinite;
  }
  
  .moon {
    top: 0em;
    right: 0em;
    width: 7em;
    height: 7em;
    animation: orbit 2.5s linear infinite;
  }
  
  .mars {
    top: 2em;
    left: 2.5em;
    width: 36em;
    height: 36em;
    animation: orbit 26.5s linear infinite;
  }
  
  .jupitar {
    top: -2em;
    left: -2em;
    width: 45em;
    height: 45em;
    animation: orbit 21s linear infinite;
  }
  
  .saturn {
    top: -7em;
    left: -7em;
    width: 55em;
    height: 55em;
    animation: orbit 17s linear infinite;
  }
  
  .uarnus {
    top: -12em;
    left: -12em;
    width: 65em;
    height: 65em;
    animation: orbit 19s linear infinite;
  }
  
  .neptune {
    top: -17em;
    left: -17em;
    width: 75em;
    height: 75em;
    animation: orbit 15s linear infinite;
  }
  
  .pluto {
    top: -22em;
    left: -22em;
    width: 85em;
    height: 85em;
    animation: orbit 18s linear infinite;
  }
  
  .mercury::before, .venus::before, .earth::before, .moon::before, .mars::before, .jupitar::before, .saturn::before, .uarnus::before, .neptune::before, .pluto::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    animation: orbit 5s linear infinite;
  }
  
  .mercury::before {
    top: 1.8em;
    right: 0.8em;
    width: 1.5em;
    height: 1.5em;
    background-color: rgb(230, 230, 230);
  }
  
  .venus::before {
    top: 2em;
    right: 2em;
    width: 2em;
    height: 2em;
    background-color: rgb(255, 153, 51);
  }
  
  .earth::before {
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
  }
  
  .moon::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: rgb(200, 200, 200);
  }
  
  .mars::before {
    top: 5em;
    right: 3em;
    width: 3em;
    height: 3em;
    background-color: rgb(204, 51, 0);
  }
  
  .jupitar::before {
    top: 5em;
    right: 5em;
    width: 5em;
    height: 5em;
    background-color: rgba(237, 145, 33, 1);
  }
  
  .saturn::before {
    top: 7.5em;
    right: 5em;
    width: 4.5em;
    height: 4.5em;
    background-color: rgba(237, 201, 81, 1);
  }
  
  .uarnus::before {
    top: 9em;
    right: 6.5em;
    width: 4em;
    height: 4em;
    background-color: rgba(145, 214, 236, 1);
  }
  
  .neptune::before {
    top: 10em;
    right: 8em;
    width: 4em;
    height: 4em;
    background-color: rgba(30, 80, 220, 1);
  }
  
  .pluto::before {
    top: 11em;
    right: 10em;
    width: 4em;
    height: 4em;
    background-color: rgba(128, 128, 128, 1);
  }
  
  
  .start {
    margin: 0;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
    
  }



}
